<nav class="navbar navbar-expand-lg navbar-dark myNavBar mt-3 ">
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
        aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon">
            <img src="img/menu.svg" alt="">
        </span>
    </button>

    <div class="basket-block d-flex align-items-end">
        
    </div>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto container d-flex justify-content-around">
            <li class="nav-item ">
                <a class="nav-link myNavLink" href="#">Акции <span class="sr-only">(current)</span></a>
            </li>
            <li class="nav-item">
                <a class="nav-link myNavLink" href="catalog.html">Каталог цветов</a>
            </li>
            <li class="nav-item dropdown myDropdown">
                <a class="nav-link dropdown-toggle myNavLink" href="#" id="navbarDropdown" role="button" data-toggle="dropdown"
                    aria-haspopup="true" aria-expanded="false">
                    Букеты и композиции
                </a>
                <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                    <a class="dropdown-item myNavLink" href="#">Action</a>
                    <a class="dropdown-item myNavLink" href="#">Another action</a>
                    <a class="dropdown-item myNavLink" href="#">Something else here</a>
                </div>
            </li>

            <li class="nav-item dropdown myDropdown" >
                <a class="nav-link dropdown-toggle myNavLink" href="#" id="navbarDropdown" role="button" data-toggle="dropdown"
                    aria-haspopup="true" aria-expanded="false">
                    свадебные букеты
                </a>
                <div class="dropdown-menu " aria-labelledby="navbarDropdown">
                    <a class="dropdown-item myNavLink" href="#">Action</a>
                    <a class="dropdown-item myNavLink" href="#">Another action</a>
                    <a class="dropdown-item myNavLink" href="#">Something else here</a>
                </div>
            </li>

            <li class="nav-item ">
                <a class="nav-link myNavLink" href="#">подарки <span class="sr-only">(current)</span></a>
            </li>
        </ul>
    </div>
</nav